/* src/components/SuccessAlert/SuccessAlert.module.css */

.alertContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.alertBox {
  background-color: var(--container-bg);
  color: var(--text-color);
  padding: 30px 40px;
  border-radius: 20px;
  text-align: center;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  animation: zoomIn 0.3s ease-out;
}

.checkIconSvg {
  margin-bottom: 20px;
}

.alertBox h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

.botonesAlerta {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 16px;
}

.btnPrimario {
  background-color: #00c853;
  color: #fff;
  border: none;
  padding: 12px 18px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
}

.btnSecundario {
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  padding: 12px 18px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
}

.btnPequeno {
  background: none;
  color: var(--text-color);
  border: none;
  text-decoration: underline;
  font-size: 13px;
  cursor: pointer;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
